@use "sass:math";

/* variables */
:root {
    --color-white: #fafafa;
    --color-black: #2a2a2a;
    --color-light-black: #333;
    --color-accent: #777;
    --color-gray: #ddd;
    --color-green: #485e8a;
    --color-pink: #ff6e6e;
    --color-red: #d93030;
    --color-border: #ddd;

    --_text-color: var(--color-black);
    --_bg-color: var(--color-white);
    --_pagination-color: var(--color-light-black);



    --easing: cubic-bezier(0.16, 1, 0.3, 1);
    /* 高級感のあるイージング */

    /* フォント */
    --root-font-size: 16px;
    --font-en: "EB Garamond", serif;
    --font-jp: "Zen Kaku Gothic New", sans-serif;
    --to-rem: calc(tan(atan2(1px, var(--root-font-size))) * 1rem);
}