@use "../global" as *;

/* ーーーーーーーーーーーーー
/* ヘッダー
ーーーーーーーーーーーーーー */
.header {
  position: relative;
  padding: 5px 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(12 * var(--to-rem));
  line-height: 1;
  margin-left: -.8em;
letter-spacing: .05em;
}

.hamburger-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  aspect-ratio: 1;
  border: none;
  z-index: 10;
}

.hamburger-button__bar {
  display: block;
  width: 3px;
  aspect-ratio: 1;
  background-color: var(--color-black);
  transition: transform .3s;
  transform-origin: center;
}

/* ーーーーーーーーーーーーー
/* notes
ーーーーーーーーーーーーーー */
.notes {
  padding-top: 80px;
  padding-bottom: 80px;
}

.notes__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(320px, 100%), 1fr));
  column-gap: 8px;
  row-gap: 24px;
  margin-top: 32px;
}

.notes__content {
  padding: 4px;
}

.notes__inner {
  display: flex;
  justify-content: space-between;
}

.notes__date,
.notes__category {
  font-size: 12px;
}

.notes__category {
  text-transform: capitalize;
}
.notes__title {
  font-weight: 400;
  font-size: 14px;
}

/* ーーーーーーーーーーーーー
/* フッター
ーーーーーーーーーーーーーー */
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-block: 8px;
}

.footer-copyright {
  display: block;
  font-size: 12px;
  text-align: center;
}

/* ーーーーーーーーーーーーー
/* post
ーーーーーーーーーーーーーー */

/* 記事 */

.post__inner {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 3px;
}

.post__thumb,
.notes__thumb {
  width: 100%;
  aspect-ratio: 16 / 9;

  img {
    object-position: bottom;
  }
}

.post h2 {
  position: relative;
  font-weight: 500;
  font-size: calc(16 / 16 * 1rem);
  padding-bottom: 8px;
  margin-bottom: 0;
}

.post h2::before,
.post h2::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: 0;
  left: 0;
}

.post h2::after {
  width: 10%;
  background-color: #888;
}

.post h3,
.post h4,
.post h5 {
  font-weight: 500;
}

.post p {
  font-size: calc(14 * var(--to-rem));
}

.post-title {
  font-weight: 500;
  font-size: calc(20 * var(--to-rem));
  letter-spacing: -.02em;
  margin-bottom: 0;
  margin-top: 16px;
}

.post * + ul,
.post * + ol,
.post * + p,
.post * + pre {
  margin-top: 1lh;
}

.post * + p {
  margin-top: 1lh;
}

.post h2 + p {
  margin-top: 12px;
}

.post * + h2 {
  margin-top: 48px;
}

.post * + h3 {
  margin-top: 1lh;
}

.parentheses-left {
  margin-left: calc(-1em / 2);
}

.post pre {
  padding: 6px;
  overflow-x: auto;
  max-width: 100%;
}

.post li {
  position: relative;
  padding-left: 1em;

  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: .2em;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-accent);
  }
}

/* ーーーーーーーーーーーーー
/* 下層ページ共通
ーーーーーーーーーーーーーー */
.page-title {
  font-weight: 500;
  font-size: calc(20 / 16 * 1rem);
  letter-spacing: -.02em;
  margin-bottom: 0;
  margin-top: 16px;

  &--en {
    font-family: var(--font-en);
  }
}

.inner {
  display: grid;
  row-gap: 48px;
  padding-top: 64px;
}