@charset "UTF-8";
/* variables */
:root {
  --color-white: #fafafa;
  /* 少しだけグレーを入れた白 */
  --color-black: #2a2a2a;
  /* 真っ黒ではない黒 */
  --color-light-black: #333;
  --color-accent: #777;
  /* メタ情報用グレー */
  --color-gray: #ddd;
  --color-green: #485e8a;
  --color-pink: #ff6e6e;
  --color-red: #d93030;
  --color-border: #f0f0f0;
  /* 明確な境界線 */
  --_text-color: var(--color-black);
  --_bg-color: var(--color-white);
  --_pagination-color: var(--color-light-black);
  --font-en: "EB Garamond", serif;
  --font-jp: "Zen Kaku Gothic New", sans-serif;
  --easing: cubic-bezier(0.16, 1, 0.3, 1);
  /* 高級感のあるイージング */
}

/* コンポーネント */
.section-title {
  font-family: var(--font-en);
  font-size: 24px;
  font-weight: 400;
}
.section-title span {
  display: block;
  font-family: var(--font-jp);
  font-size: 12px;
  margin-left: -0.8em;
  padding-bottom: 24px;
  letter-spacing: 0.05em;
}

.section-title--jp {
  display: block;
  color: var(--color-accent);
  font-weight: normal;
  font-size: 12px;
}

.section-title--en {
  font-family: var(--font-en);
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-black);
  text-transform: capitalize;
}

.link {
  width: min(200px, 100%);
  display: grid;
  grid-template-columns: 1fr auto;
  border: 1px solid var(--color-black);
  padding: 8px;
}

.link__text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  align-self: center;
}

:root:has(.hamburger-menu[data-open=true]) {
  overflow: hidden;
}

/* base */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-jp);
  font-weight: 400;
  color: var(--_text-color);
  font-size: 0.875rem;
  line-height: 1.5;
  box-sizing: border-box;
  background-color: var(--_bg-color);
  background-color: var(--color-white);
  background-image: linear-gradient(90deg, rgba(244, 244, 244, 0.5019607843) 1px, transparent 1px), linear-gradient(rgba(244, 244, 244, 0.5019607843) 1px, transparent 1px);
  background-position: 10px 10px;
  background-size: 30px 30px;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

li {
  list-style: none;
}

small {
  font-size: 80%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 {
  text-wrap: balance;
  word-break: auto-phrase;
}

/* base */
.container {
  width: min(1200px, 100%);
  margin-inline: auto;
  padding-inline: 20px;
}

/* ーーーーーーーーーーーーー
/* ヘッダー
ーーーーーーーーーーーーーー */
.header {
  padding: 5px 20px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    display: none;
  }
}

.header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1;
  margin-left: -0.8em;
  letter-spacing: 0.05em;
}

.hamburger-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  aspect-ratio: 1;
  border: none;
  z-index: 10;
}

.hamburger-button__bar {
  display: block;
  width: 3px;
  aspect-ratio: 1;
  background-color: var(--color-black);
  transition: transform 0.3s;
  transform-origin: center;
}

.hamburger-menu {
  position: fixed;
  width: 100vw;
  top: 20vh;
  right: -100vw;
  z-index: 5;
  display: grid;
  transition: all 0.6s cubic-bezier(0.2, 1.55, 0.5, 0.9);
  transform: rotate(15deg);
  transform-origin: left bottom;
}

.hamburger-menu[data-open=true] {
  transform: rotate(-15deg);
  right: -50vw;
}

.hamburger-menu__inner {
  overflow: hidden;
}

.hamburger-menu__nav {
  height: 100vh;
  border: 1px solid var(--color-black);
  background-color: var(--color-white);
  padding: 55px 30px;
}

.hamburger-menu__list {
  display: grid;
  row-gap: 16px;
}

.hamburger-menu__link {
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-accent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.overlay[data-open=true] {
  visibility: visible;
  opacity: 0.2;
}

/* ーーーーーーーーーーーーー
/* notes
ーーーーーーーーーーーーーー */
.notes {
  padding-top: 80px;
  padding-bottom: 80px;
}

.notes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 24px;
  margin-top: 32px;
}

.notes__content {
  padding: 4px;
}

.notes__inner {
  display: flex;
  justify-content: space-between;
}

.notes__date,
.notes__category {
  font-size: 12px;
}

.notes__category {
  text-transform: capitalize;
}

.notes__title {
  font-weight: 400;
  font-size: 14px;
}

/* ーーーーーーーーーーーーー
/* フッター
ーーーーーーーーーーーーーー */
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  padding-block: 8px;
}

.footer-copyright {
  display: block;
  font-size: 12px;
  text-align: center;
}

/* ーーーーーーーーーーーーー
/* post
ーーーーーーーーーーーーーー */
/* 記事 */
.post {
  padding-top: 64px;
  padding-bottom: 100px;
}

.post__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-top: 3px;
}

.inner {
  margin-top: 32px;
  display: grid;
  row-gap: 4px;
}

.group {
  display: grid;
  row-gap: 0.7lh;
}

.post__thumb,
.notes__thumb {
  width: 100%;
  aspect-ratio: 16/9;
}
.post__thumb img,
.notes__thumb img {
  -o-object-position: bottom;
     object-position: bottom;
}

.post h2 {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.post h2::before,
.post h2::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: 0;
  left: 0;
}

.post h2::after {
  width: 10%;
  background-color: #888;
}

.post p {
  font-size: 0.875rem;
}

.post-title {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  margin-bottom: 0;
  margin-top: 16px;
}

.post h2 + p {
  margin-top: 12px;
}

.post p + p {
  margin-top: 1lh;
}

.post * + h2 {
  margin-top: 48px;
}

.parentheses-left {
  margin-left: -0.5em;
}
/*# sourceMappingURL=index.css.map */