/* コンポーネント */
.section-title {
    font-family: var(--font-en);
    font-size: 24px;
    font-weight: 400;
    
    span {
      display: block;
      font-family: var(--font-jp);
      font-size: 12px;
      margin-left: -.8em;
      padding-bottom: 24px;
      letter-spacing: .05em;
    }
  }
  
  .section-title--jp {
    display: block;
    color: var(--color-accent);
    font-weight: normal;
    font-size: 12px;
  }
  
  .section-title--en {
    font-family: var(--font-en);
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: var(--color-black);
    text-transform: capitalize;
  }
  
  .link {
    width: min(200px, 100%);
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid var(--color-black);
    padding: 8px;
  }
  
  .link__text {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    align-self: center;
  }
  